---
layout: default
title: PvP Event
---

<script type="text/javascript">
  // $(document).ready(
  // function(){
  //   var contestants = [];
  //   var players = [];
  //   {% for player in site.data.pvp_event %}
  //       var name = "{{player.player}}";
  //       var starting = "{{player.starting}}"
  //       var json = '{player: "' + name + '",';
  //       json += 'starting: "' + starting + '",';
  //       json += "characters: [";
  //       var delimiter = "{";
  //       {% for character in player.characters %}
  //         var character_name = "{{character.name}}";
  //         var character_server = "{{character.server}}";
  //         json += delimiter + 'name: "' + character_name + '",';
  //         json += 'server: "' + character_server + '"}';
  //         delimiter = ",{";
  //       {% endfor %}
  //       json += "]}";
  //       // console.log(json);
  //       contestants.push(JSON.parse(json));
  //   {% endfor %}

  //   for (var i = 0; i < contestants.length; i++) {
  //     var name = contestants[i].name;
  //     var server = contestants[i].server;
  //     var url = "https://us.api.battle.net/wow/character/" + server + "/" + name  + "?fields=pvp&locale=en_US&apikey=3tgfhwvjya9h9kpekjdyz45q3uhj2978";
  //     var data = $.parseJSON($.ajax({
  //       url: url,
  //       dataType: 'json',
  //       async: false
  //     }).responseText);
  //     var weekend_kills = data.totalHonorableKills - contestants[i].starting;
  //     players.push({name: data.name, kills: weekend_kills});
  //   }

  //   var sortable = [];
  //   for (var player in players) {
  //     sortable.push([players[player].name, players[player].kills]);
  //   }
  //   sortable.sort(function(a, b) {return b[1] - a[1]});
  //   var innerHTML;
  //   for (var i = 0; i < sortable.length; i++) {
  //     var playerName = sortable[i][0];
  //     var playerHK = sortable[i][1];
  //     innerHTML += "<tr><td>" + (i+1) + "</td><td style='min-width: 400px;'>" + playerName + "</td><td>" + playerHK + "</td></tr>";
  //   }
  //   console.log(innerHTML);
  //   $("#leaderboard").html(innerHTML);
  // });
</script>

<div class="row">
  <div class="eight columns offset-by-two post">
    <h4>Honorable Kill Event</h4>
    <b>Date:</b>
    <ul>
      <li>Feb 5th to Feb 7th (7PM Start and Finish)</li>
      <li>Week of Bonus Honor Event</li>
      <li>Sign up on guild calendar</li>
    </ul>
    <b>Format:</b>
    <ul>
      <li>Winner gets to change the guild tabard and temporarily gets a special guild rank</li>
      <li>2nd and 3rd get a special guild rank</li>
      <li>Honorable kills will be recorded when event starts</li>
      <li>You can compete with multiple characters</li>
    </ul>
    <b>Rules:</b>
    <ul>
      <li>The rules are simple. Get as many honorable kills as you can during the event</li>
      <li>Check back here often to see the leaderboard</li>
    </ul>
  </div>
</div>

<div class="row">  
  <div class="eight columns offset-by-two post">
    <h4>Honorable Kills Event Leaderboard</h4>
    <table class="table">
      <tbody id="leaderboard">
      </tbody>
    </table>
  </div>
</div>