<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body>
  {% include google_analytics.html %}
  {% assign sorted_streamers = site.data.streamers | sort: 'name' %}
  <script type="text/javascript">
    $(function(){
      mmocNews();
      wclogs();
      {% for streamer in site.data.streamers %}
      checkTwitch("{{streamer.name}}", "{{streamer.url}}"); 
      {% endfor %}
    });
  </script>
  {% include navigation.html %}
  </div>
  <div class="band content">
    <div class="container">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</body>
</html>